@use "./query";

.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-1);
  box-shadow: var(--shadow-dark);
  min-height: 50rem;

  @include query.respond(largest) {
    margin: 0;
    max-width: 100%;
  }
}
.header {
  font-size: 1.4rem;
  height: 7rem;
  background-color: #fff;
  border-bottom: var(--border-line);
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include query.respond(small) {
    flex-wrap: wrap;
    height: 11rem;
    align-content: space-around;
  }
}

.content {
  display: flex;

  @include query.respond(big) {
    flex-direction: column;
  }
}
.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 0 18%;

  background-color: var(--color-grey-dark-1);
}
.hotel-view {
  flex: 1;
  background-color: #fff;
}

.detail {
  font-size: 1.4rem;
  display: flex;
  padding: 4.5rem;
  background-color: var(--color-grey-light-1);

  @include query.respond(big) {
    padding: 3rem;
  }

  @include query.respond(medium) {
    flex-direction: column;
    align-items: center;
  }

  @include query.respond(small) {
    padding: 0;
  }
}

.description {
  flex: 0 0 60%;
  margin-right: 4.5rem;
  border-bottom: var(--border-line);
  background-color: white;
  box-shadow: var(--shadow-light);
  padding: 3rem;

  @include query.respond(big) {
    padding: 1.5rem;
    margin-right: 3rem;
  }

  @include query.respond(medium) {
    margin-bottom: 3rem;
    margin-right: 0;
  }
}
.user-reviews {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
